<%= erb :indent, :locals => {:nav_button => :about_nav} %>

<h1>About</h1>
<p>
  This is a shell of sample app written using Sinatra and some other open source libraries for <a href="http://pennapps.com">PennApps Hackathon Fall 2012</a>.

  The source code and more explanation is available on <a href="https://github.com/gterrono/sinatra-shell">Github</a>.
</p>

<p>
  Feel free to contact me at <a href="mailto:gterrono@seas.upenn.edu">gterrono@seas.upenn.edu</a> with any questions or suggestions.
</p>
